<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="/src/bootstrap-5.1.3-dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="./SearchResult.css" rel="stylesheet" />
    <title>Petshop product search</title>
  </head>
  <body>
    <div id="Search-result-topbar"></div>
    <!-- <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
      $.get("/src/Components/Topbar/Topbar.html", function (data) {
        $("#nav-placeholder").replaceWith(data);
      });
    </script> -->

    <!-- HEADER -->

    <!-- <div class="search-result-header"> -->
    <!-- <h1>A pet store shop</h1>
    <p id="welcomeText">
        Hello and welcome to the biggest pet store in the world!!!
    </p> -->
    <!-- </div> -->
    <!-- CAROUSEL -->
    <div class="Search-result-content">
      <div id="Search-result-sidebar"></div>
      <div class="Search-result-mainContent">
        <div class="d-flex flex-column justify-content-center">
          <div class="carousel-container carousel-container-1">
            <div class="search-result-Carousel-container">
              <!-- CAROUSEL 1 -->
              <div
                id="search-result-carousel-1"
                class="carousel carousel-dark h-100 w-100 slide"
                data-bs-touch="false"
                data-bs-interval="false"
              >
                <div class="carousel-indicators">
                  <button
                    type="button"
                    data-bs-target="search-result-carousel-1"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="search-result-carousel-1"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="search-result-carousel-1"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                  ></button>
                </div>
                <div class="carousel-inner h-100 w-100">
                  <div
                    class="carousel-item h-100 w-100 active"
                    onClick="clickProduct(0);"
                  >
                    <div
                      class="d-flex flex-row justify-content-center h-100 w-auto d-block"
                      id="carousel-container-1"
                    >
                      <!-- <img
                                            src="https://m.media-amazon.com/images/I/81753eskvxL._AC_SX466_.jpg"
                                            class="d-block w-auto h-100 mx-auto"
                                            alt="someDescribtion"
                                        /> -->
                      <!-- <img
                                            src="https://m.media-amazon.com/images/I/81753eskvxL._AC_SX466_.jpg"
                                            class="d-block w-auto h-100 mx-auto"
                                            alt="someDescribtion"
                                        />
                                        <img
                                            src="https://m.media-amazon.com/images/I/81753eskvxL._AC_SX466_.jpg"
                                            class="d-block w-auto h-100 mx-auto"
                                            alt="someDescribtion"
                                        /> -->
                    </div>
                  </div>

                  <div
                    class="carousel-item h-100 w-100"
                    onClick="clickProduct(0);"
                  >
                    <div
                      class="d-flex flex-row justify-content-center h-100 w-auto d-block"
                      id="carousel-container-2"
                    >
                      <!-- <img
                                            src="https://www.dfordog.co.uk/user/products/red-dingo-dog-collar-red.jpg"
                                            class="d-block w-auto h-100 mx-auto"
                                            alt="someDescribtion"
                                        /> -->
                      <!-- <img
                                            src="https://www.dfordog.co.uk/user/products/red-dingo-dog-collar-red.jpg"
                                            class="d-block w-auto h-100 mx-auto"
                                            alt="someDescribtion"
                                        />
                                        <img
                                            src="https://www.dfordog.co.uk/user/products/red-dingo-dog-collar-red.jpg"
                                            class="d-block w-auto h-100 mx-auto"
                                            alt="someDescribtion"
                                        /> -->
                    </div>
                  </div>

                  <div
                    class="carousel-item h-100 w-100"
                    onClick="clickProduct(0);"
                  >
                    <div
                      class="d-flex flex-row justify-content-center h-100 w-auto d-block"
                      id="carousel-container-3"
                    >
                      <!-- <img
                                            src="https://m.media-amazon.com/images/I/81amc1cWs0L._AC_SL1500_.jpg"
                                            class="d-block w-auto h-100 mx-auto"
                                            alt="someDescribtion"
                                        /> -->
                      <!-- <img
                                            src="https://m.media-amazon.com/images/I/81amc1cWs0L._AC_SL1500_.jpg"
                                            class="d-block w-auto h-100 mx-auto"
                                            alt="someDescribtion"
                                        />
                                        <img
                                            src="https://m.media-amazon.com/images/I/81amc1cWs0L._AC_SL1500_.jpg"
                                            class="d-block w-auto h-100 mx-auto"
                                            alt="someDescribtion"
                                        /> -->
                    </div>
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#search-result-carousel-1"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>

                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#search-result-carousel-1"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <!-- CAROUSEL 2 -->
            <!-- <div class="carousel-container carousel-container-1">
                        <div class="search-result-Carousel-container">
                            <div
                                id="search-result-carousel-2"
                                class="carousel carousel-dark h-100 w-100 slide"
                                data-bs-touch="false"
                                data-bs-interval="false"
                            >
                                <div class="carousel-indicators">
                                    <button
                                        type="button"
                                        data-bs-target="#search-result-carousel-2"
                                        data-bs-slide-to="0"
                                        class="active"
                                        aria-current="true"
                                        aria-label="Slide 1"
                                    ></button>
                                    <button
                                        type="button"
                                        data-bs-target="#search-result-carousel-2"
                                        data-bs-slide-to="1"
                                        aria-label="Slide 2"
                                    ></button>
                                    <button
                                        type="button"
                                        data-bs-target="#search-result-carousel-2"
                                        data-bs-slide-to="2"
                                        aria-label="Slide 3"
                                    ></button>
                                </div>
                                <div class="carousel-inner h-100 w-100">
                                    <div class="carousel-item h-100 w-100 active" onClick="clickProduct(0);">
                                        <div class="d-flex flex-row justify-content-center h-100 w-auto d-block">
                                            <img
                                                src="https://m.media-amazon.com/images/I/81753eskvxL._AC_SX466_.jpg"
                                                class="d-block w-auto h-100 mx-auto im"
                                                alt="someDescribtion"
                                            />
                                            <img
                                                src="https://m.media-amazon.com/images/I/81753eskvxL._AC_SX466_.jpg"
                                                class="d-block w-auto h-100 mx-auto"
                                                alt="someDescribtion"
                                            />
                                            <img
                                                src="https://m.media-amazon.com/images/I/81753eskvxL._AC_SX466_.jpg"
                                                class="d-block w-auto h-100 mx-auto"
                                                alt="someDescribtion"
                                            />
                                        </div>
                                    </div>

                                    <div class="carousel-item h-100 w-100" onClick="clickProduct(0);">
                                        <div class="d-flex flex-row justify-content-center h-100 w-auto d-block">
                                            <img
                                                src="https://www.dfordog.co.uk/user/products/red-dingo-dog-collar-red.jpg"
                                                class="d-block w-auto h-100 mx-auto im"
                                                alt="someDescribtion"
                                            />
                                            <img
                                                src="https://www.dfordog.co.uk/user/products/red-dingo-dog-collar-red.jpg"
                                                class="d-block w-auto h-100 mx-auto"
                                                alt="someDescribtion"
                                            />
                                            <img
                                                src="https://www.dfordog.co.uk/user/products/red-dingo-dog-collar-red.jpg"
                                                class="d-block w-auto h-100 mx-auto"
                                                alt="someDescribtion"
                                            />
                                        </div>
                                    </div>

                                    <div class="carousel-item h-100 w-100" onClick="clickProduct(0);">
                                        <div class="d-flex flex-row justify-content-center h-100 w-auto d-block">
                                            <img
                                                src="https://m.media-amazon.com/images/I/81amc1cWs0L._AC_SL1500_.jpg"
                                                class="d-block w-auto h-100 mx-auto im"
                                                alt="someDescribtion"
                                            />
                                            <img
                                                src="https://m.media-amazon.com/images/I/81amc1cWs0L._AC_SL1500_.jpg"
                                                class="d-block w-auto h-100 mx-auto"
                                                alt="someDescribtion"
                                            />
                                            <img
                                                src="https://m.media-amazon.com/images/I/81amc1cWs0L._AC_SL1500_.jpg"
                                                class="d-block w-auto h-100 mx-auto"
                                                alt="someDescribtion"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <button
                                    class="carousel-control-prev"
                                    type="button"
                                    data-bs-target="#search-result-carousel-2"
                                    data-bs-slide="prev"
                                >
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>

                                <button
                                    class="carousel-control-next"
                                    type="button"
                                    data-bs-target="#search-result-carousel-2"
                                    data-bs-slide="next"
                                >
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div> -->
          </div>

          <!-- CARDS -->

          <div class="search-result-Cards align-self-center">
            <div class="row row-cols-3 row-cols-sm-3 g-3" id="cardContainer">
              <!-- <div class="col">
                            <div class="card" onClick="clickProduct(1);">
                                <img src="/src/assets/images/dog/dog_bed.jpg" class="card-img-top" alt="card-grid-image">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" onClick="clickProduct(0);">
                                <img src="/src/assets/images/dog/dog_bed.jpg" class="card-img-top" alt="card-grid-image">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" onClick="clickProduct(0);">
                                <img src="/src/assets/images/dog/dog_bed.jpg" class="card-img-top" alt="card-grid-image">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" onClick="clickProduct(0);">
                                <img src="/src/assets/images/dog/dog_bed.jpg" class="card-img-top" alt="card-grid-image">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" onClick="clickProduct(0);">
                                <img src="/src/assets/images/dog/dog_bed.jpg" class="card-img-top" alt="card-grid-image">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" onClick="clickProduct(0);">
                                <img src="/src/assets/images/dog/dog_bed.jpg" class="card-img-top" alt="card-grid-image">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="/src/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"
    ></script>
    <script>
      function clickProduct(product) {
        location.href = `/src/Components/Product/Product.html?product=${product}`;
      }
    </script>

    <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
      $.get("/src/Components/Topbar/Topbar.html", function (data) {
        $("#Search-result-topbar").replaceWith(data);
      });
      $.get("/src/Components/Sidebar/Sidebar.html", function (data) {
        $("#Search-result-sidebar").replaceWith(data);
      });
    </script>

    <script type="module">
      // IMPORT AND VARIABLES
      let filteredProducts = JSON.parse(
        localStorage.getItem("filteredProducts")
      );
      console.log("Filtered prods searchresults: " + filteredProducts);
      let param = parent.document.URL.substring(
        parent.document.URL.indexOf("?") + 1,
        parent.document.URL.length
      );
      let params = param.split("&");
      let animalName;
      let priceMin;
      let priceMax;
      let beds, collars, dryfood, treat, transportbox, cage;
      let productsVar = getAllItems();

      console.log("Entering loop with params:\n" + params);
      params.forEach((param, index) => {
        if (param.includes("animal")) {
          animalName = param.substring(param.indexOf("=") + 1);
          productsVar = getFilteredItems();
        }
        if (param.includes("minPrice")) {
          priceMin = param.substring(param.indexOf("=") + 1);
        }
        if (param.includes("maxPrice")) {
          priceMax = param.substring(param.indexOf("=") + 1);
        }

        console.log("Yo wat");
        if (param.includes("filters")) {
          productsVar = getAdditionalFilteredItems();
          console.log(productsVar);
        }
      });

      import { products } from "/src/Data/ProductData.js";

      // FUNCTIONLITY

      if (
        priceMin !== null &&
        priceMin !== undefined &&
        priceMin !== "" &&
        priceMax !== null &&
        priceMax !== undefined &&
        priceMax !== ""
      ) {
        productsVar = getPriceFilteredItems(productsVar, priceMin, priceMax);
      }

      productsVar.forEach((item) => {
        addCardToPage(products[item.id]);
      });

      if (productsVar.length >= 1)
        addImageToCarousel(productsVar[0].id, "carousel-container-1");
      if (productsVar.length >= 2)
        addImageToCarousel(productsVar[1].id, "carousel-container-2");
      if (productsVar.length >= 3)
        addImageToCarousel(productsVar[2].id, "carousel-container-3");

      //FUNCTIONS

      function getAllItems() {
        return products.filter(function (el) {
          return el;
        });
      }

      function getFilteredItems() {
        return products.filter(function (el) {
          return el.animal === animalName;
        });
      }

      function getAdditionalFilteredItems() {
        return productsVar.filter(function (el) {
          return filteredProducts.includes(el.subCategory);
        });
      }

      function getPriceFilteredItems(productsVar, priceMin, priceMax) {
        return productsVar.filter(function (el) {
          return el.price >= priceMin && el.price <= priceMax;
        });
      }

      function addImageToCarousel(index, item) {
        let img = document.createElement("img");
        img.src = products[index].image;
        img.classList.add("d-block");
        img.classList.add("w-auto");
        img.classList.add("h-100");
        img.classList.add("mx-auto");
        document.getElementById(item).appendChild(img);
      }

      function addCardToPage(data) {
        let parent = document.createElement("div");
        parent.classList.add("col");

        let card = document.createElement("div");
        card.classList.add("card");
        card.addEventListener("click", function () {
          clickProduct(data.id);
        });

        let img = document.createElement("img");
        img.classList.add("card-img-top");
        img.src = data.image;

        let cardBody = document.createElement("div");
        cardBody.classList.add("card-body");

        let cardTitle = document.createElement("h5");
        cardTitle.innerHTML = data.name;

        let cardText = document.createElement("p");
        cardText.innerHTML = data.shortDescription;

        cardBody.appendChild(cardTitle);
        cardBody.appendChild(cardText);

        card.appendChild(img);
        card.appendChild(cardBody);

        parent.appendChild(card);

        document.getElementById("cardContainer").appendChild(parent);
      }
    </script>
  </body>
</html>
