.search-result-header{
    text-align: center;
}

.Search-result-content{
    display:flex; 
    flex-direction: row;
    justify-content: space-between;
}

.Search-result-mainContent{
    width: 80%;

}

.search-result-Carousel-container{
    height: 25vh;
    width: 100%;
}

.search-result-Cards{
    width: 90%;
}

.carousel-item:hover, .card:hover {
    cursor:pointer;
}

img{
    object-fit: contain;
}

/* SIDEBAR */




@media (min-width: 768px) {
    .Sidebar {
      /* position: ; */
      top: 51px;
      /* bottom: 0;
      left: 0; */
      /* z-index: 1000; */
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #f5f5f5;
      border-right: 1px solid #eee;
      width: 20%;
      max-width: 250px;
    }
  
    .Sidebar::-webkit-scrollbar{
      display: none;
    }  
  
    img {
      max-width: 100px;
      height: auto;
      border-radius: 1rem;
    }
  
    img:hover {
        background-color: #bebfc0;
    }
  
    ul {
      align-items: center;
    }
  
    li {
      padding-top: 5px;
    }
  
    li:hover {
      text-decoration: underline;
      color: #256cca;
    }
  
    .filter-text {
      text-decoration: underline
    }
  
    .form-control {
        min-width: 70px;
    }
  
    .form-select {
        min-width: 70px;
    }
  
    .hidden {
      display: none;
    }
  
  }
  
  .rounded {
    border-radius: 1 rem;
  }
  