.Sidebar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 200px;
    border-right: 1px solid black;
}
.Sidebar-items{
    padding-left: 1em;
}

.list-group{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center center;
    gap: 5px;
}

.Sidebar-Category-Header{
    font-size: 1.5em;
    line-height: 2em;
}