<html>
    <head>
        <link rel="stylesheet" href="./FilterSidebar.css">
    </head>
    <div class="Sidebar">
        <div class="Sidebar-Logo">
            <img src="www.google.dk" alt="description of image"/>
        </div>
        <div class="Sidebar-Items">
            <div class="Sidebar-Species">
                <Span class="Sidebar-Category-Header">
                    Species
                </Span>
                <div class="list-group">
                    <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox">
                        Item 1
                    </label>
                    <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox">
                        Item 2
                    </label>
                    <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox">
                        Item 3
                    </label>
                    <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox">
                        Item 4
                    </label>
                    <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox">
                        Item 5
                    </label>
                </div>
            </div>
            <div class="Sidebar-Color">

            </div>
            <div class="Sidebar-Category">
                <Span class="Sidebar-Category-Header">
                    Category
                </Span>
                 <!-- To have radio, change input type to radio and add same name attribute to all inputs -->
                 <div class="list-group">
                    <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox">
                        Item 1
                    </label>
                    <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox">
                        Item 2
                    </label>
                    <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox">
                        Item 3
                    </label>
                </div>
            </div>
            <div class="Sidebar-Brand">
                <Span class="Sidebar-Category-Header">
                    Brand
                </Span>
                 <!-- To have radio, change input type to radio and add same name attribute to all inputs -->
                 <div class="list-group">
                    <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox">
                        Item 1
                    </label>
                    <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox">
                        Item 2
                    </label>
                    <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox">
                        Item 3
                    </label>
                    <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox">
                        Item 4
                    </label>
                    <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox">
                        Item 5
                    </label>
                </div>
            </div>
            <div class="Sidebar-Price">

            </div>
            <div class="Sidebar-Size">
                
            </div>
            
            <!-- Items are in this container -->
        </div>
    </div>
</html>