#logged_out_elements {
    display: flex;
    flex-direction: row;
}

#logged_in_elements {
    display: flex;
    flex-direction: row;
}

.collapse {
    justify-content: flex-end;
}

#userNameSpot {
    margin: auto;
    padding-left: 30%;
}

.basket-img {
    width: 25px;
}

@media (max-width: 768px) {
    #sidebar-dropdown {
        display: flex;
    }
}

@media (min-width: 768px) {
    #sidebar-dropdown {
        display: none;
    }
}