<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="/src/bootstrap-5.1.3-dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="./Basket.css" rel="stylesheet" />
    <title>Petshop basket</title>
  </head>
  <body>
    <div id="nav-placeholder"></div>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
      $.get("/src/Components/Topbar/Topbar.html", function (data) {
        $("#nav-placeholder").replaceWith(data);
      });
    </script>
    <!-- HEADER -->
    <div class="search-result-header"></div>
    <!-- CAROUSEL -->
    <div class="d-flex flex-column w-75 justify-content-evenly mx-auto">
      <div
        class="d-flex flex-column justify-content-sm-between"
        id="BasketItemContainer"
      ></div>

      <div id="total" class="align-self-end">Total:</div>

      <button
        type="button"
        class="btn btn-primary align-self-end"
        id="checkout-button"
      >
        Check out
      </button>
    </div>

    <script
      type="text/javascript"
      src="/src/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"
    ></script>

    <script type="module">
      // Get saved items from localStorage:
      let selectedProducts = JSON.parse(
        localStorage.getItem("selectedProducts")
      );

      console.log(selectedProducts);

      import { products } from "/src/Data/ProductData.js";

      let container = document.getElementById("BasketItemContainer");

      if (selectedProducts != null) {
        selectedProducts.forEach((item, index) => {
          //Create elements
          let itemContainer = document.createElement("div");
          let img = document.createElement("img");
          let descr = document.createElement("p");
          let price = document.createElement("price");
          let remove = document.createElement("img");

          //Init elements
          img.src = item.image;
          remove.src = "/src/assets/images/icons/x-icon.png";
          descr.innerHTML = item.shortDescription;
          price.innerHTML = item.price;

          // Add classes
          itemContainer.classList.add("basket-item");
          itemContainer.classList.add("basket-item--" + index);

          img.classList.add("basket-item-image");
          img.classList.add("row-cols-3");

          remove.classList.add("basket-item-remove");
          remove.classList.add("row-cols-3");

          descr.classList.add("shortDescription");
          price.classList.add("price");

          remove.addEventListener("click", function () {
            console.log("Yes?");
            selectedProducts.splice(index, 1);
            localStorage.setItem(
              "selectedProducts",
              JSON.stringify(selectedProducts)
            );
            window.location.reload();
          });

          remove.addEventListener("click", function () {
            console.log("WORKS?");
          });

          itemContainer.appendChild(img);
          itemContainer.appendChild(descr);
          itemContainer.appendChild(price);
          itemContainer.appendChild(remove);
          document
            .getElementById("BasketItemContainer")
            .appendChild(itemContainer);
        });
      }

      let total = 0;
      selectedProducts.forEach(function (item) {
        total += item.price;
      });
      document.getElementById("total").innerHTML += total;
    </script>
  </body>
</html>
