#BasketItemContainer{
    padding-top: 5em;
    gap: 20px;
}

.basket-item{
    width: 100%;
    min-width: 300px;
    max-height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.basket-item-image{
    width: 150px;
    max-height: 100px;
    object-fit: contain;
    vertical-align: middle;
    border-top: auto;
    border-bottom: auto;
}

.basket-item-remove{
    /* width: 30px; */
    height: 25px;
}

.basket-item-remove:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.description{
    width: 33%;
}

#checkout-button{
    width: 15vw;
    min-width: 85px;
    border-right: 20px;
    background-image: url('/src/assets/images/icons/cart-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
}
